<IfModule mod_rewrite.c>
        Options +FollowSymLinks -Indexes
        DirectoryIndex index.php
        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

############################################
## Prevent character encoding issues from server overrides
## If you still have problems, use the second line instead

    #AddDefaultCharset Off
    AddDefaultCharset UTF-8

<IfModule !mod_rewrite.c>

    ErrorDocument 404 /index.php
    </IfModule>